<div class="page-background">
  <div class="page-content">
    <form nz-form [formGroup]="validateForm" style="margin-top: 10px; text-align: center" (submit)="submitForm()">
      <input nz-input placeholder="Arama" nzSize="large" style="width: 20%" formControlName="title"/>
      <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 15px;">Ara</button>
    </form>
    <h3>Modeller</h3>
    <div style="padding-top: 10px">
      <div style="margin-top:10px" class="child" *ngFor="let model of models">
        <div nz-row>
          <div nz-col nzSpan="8">
            <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"
                 [src]="model.processedImg" alt="profile"/>
          </div>
          <div nz-col nzSpan="16">
            <h3 style="cursor:pointer; color:#108ee9" routerLink="/admin/{{model.id}}/cars">
              {{model.name}}</h3>
            <hr>
            <h6>Açıklama:<b>{{model.name}}</b></h6>
            <hr>
            <div style="float:right">
              <button nzSize="small" nz-button nzType="primary"
                      routerLink="/admin/{{model.id}}/cars">Araba Detay</button>
              <button style="margin-left: 10px" nzSize="small" nz-button nzType="primary"
                      routerLink="/admin/{{model.id}}/car">Araba Ekle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

