
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
  <nz-table #basicTable [nzData]="bookings" [nzPageSize]="20" [nzShowPagination]="'false'">
    <thead>
    <tr>
      <th style="font-weight: bolder; color: #003973; ">Kullanıcı Adı</th>
      <th style="font-weight: bolder; color: #003973; ">E-Posta</th>
      <th style="font-weight: bolder; color: #003973; ">Başlangıç Tarihi</th>
      <th style="font-weight: bolder; color: #003973;">Bitiş Tarihi</th>
      <th style="font-weight: bolder; color: #003973; ">Gün Sayısı</th>
      <th style="font-weight: bolder; color:#003973; ">Fiyat</th>
      <th style="font-weight: bolder; color: #003973; ">Araç Durumu</th>
<!--      <th style="font-weight: bolder; color: #003973; ">Action</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of basicTable.data">
      <td>{{booking.userName}}</td>
      <td>{{booking.email}}</td>
      <td>{{booking.fromDate | date : 'MMM d, y'}}</td>
      <td>{{booking.toDate | date: 'MMM d, y'}}</td>
      <td>{{booking.days}}</td>
      <td>{{booking.price}}</td>
      <td>
        <strong
          [ngStyle]="{'color': booking.bookCarStatus === 'APPROVED' ? 'green' : booking.bookCarStatus === 'REJECTED' ? 'blue' : 'red'}">
          {{ booking.bookCarStatus }}
        </strong>
      </td>
      <td>
        <span *ngIf="booking.bookCarStatus == 'PENDING'">
          <button style="margin-left: 10px" nzSize="small" nz-button nzType="primary"
                  (click)="changeBookingStatus(booking.id, 'Onayla')">Onayla</button>
            <button style="margin-left: 10px" nzSize="small" nz-button nzType="primary"
                    (click)="changeBookingStatus(booking.id, 'Reddet')" nzDanger>Reddet</button>
        </span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-spin>
