<form nz-form [formGroup]="validateForm" style="margin-top: 20px; text-align: center" (submit)="submitForm()">
  <input nz-input placeholder="Arama" nzSize="large" style="width: 20%" formControlName="title"/>
  <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 15px;">Ara</button>
</form>

<div style="min-height: 91vh;">
  <div style="padding-top: 10px">
    <div style="margin-top:10px" class="child" *ngFor="let model of models">
      <div nz-row>
        <div nz-col nzSpan="8">
          <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"
               [src]="model.processedImg" alt="profile"/>
        </div>
        <div nz-col nzSpan="16">
          <h2 style="cursor:pointer; color:#108ee9" routerLink="/customer/{{model.id}}/cars">
            {{model.name}}</h2>
          <hr>
          <h5>Açıklama:<b> {{model.name}}</b></h5>
          <hr>
          <div style="float:right">
            <button nzSize="small" nz-button nzType="primary"
                    routerLink="/customer/{{model.id}}/cars">Araba Detay</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
