
<div *ngIf ="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Kayra Car Rental </a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Kaydol </a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Giriş Yap </a>
    </div>
  </nz-header>
</div>

<div *ngIf ="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Kayra Car Rental</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Ana Sayfa</a>
      <a nz-button nzType="link" routerLink="/admin/add-brand" routerLinkActive="active">Marka Ekle</a>
      <a nz-button nzType="link" routerLink="/admin/search" routerLinkActive="active">Araç Bul</a>
      <a nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active">Kiralamalar</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout </a>
    </div>
  </nz-header>
</div>

<div *ngIf ="isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Kayra Car Rental</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Ana Sayfa</a>
      <a nz-button nzType="link" routerLink="/customer/bookings" routerLinkActive="active">Araçlarım  </a>
      <a nz-button nzType="link" (click)="logout()"  routerLinkActive="active">Çıkış Yap </a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>



