<div style="margin-top:1px">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip = "Working..">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 style="margin-left: auto">Marka Ekle </h1>
          </div>
        </div>

        <form nz-form [formGroup]="postBrandForm" >
          <div nz-row>
            <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
              <div class="profile-badge">
                <label for="upload_profile_image" class="upload-label" *ngIf="selectedFile">
                  <img class="profile" [src]="imagePreview" alt="profile"/>
                </label>
                <input type="file" nz-button nzType="primary" id="upload_profile_image"
                accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)"/>
                <button nz-button nzShape="circle"></button>
              </div>
            </div>

            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Gerekli Alan">
                  <input nz-input placeholder="Marka" formControlName="name">
                </nz-form-control>
              </nz-form-item>
            </div>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="postBrand()">Ekle</button>
          </div>
        </form>
      </div>
    </div>
  </nz-spin>

</div>

