.inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height to center vertically */
  background-color: #f8f8f8; /* Light background color */
}

.dashboard-filter {
  background: #c7dbff;
  padding: 40px; /* Increased padding for more space inside the card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Maximum width for wider card */
  width: 100%;
  min-height: 500px; /* Minimum height for taller card */
}

.filter-grid {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align form items */
  gap: 30px;
}

.filter-select-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-fields-width {
  width: 600px;
}

nz-form-item {
  width: 100%; /* Ensures form item takes full width */
  display: flex;
  justify-content: center; /* Center align each form item */
}

nz-select {
  width: 100%; /* Ensures select input takes full width */
  min-width: 500px; /* Minimum width to prevent shrinking */
  max-width: 500px; /* Maximum width to prevent expanding too much */
}

.filterBtn {
  align-self: center; /* Center align button */
  margin-top: 20px; /* Space above the button */
}

.custom-card {
  min-height: 400px; /* Set the desired minimum height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjusts content spacing within the card */
}

.profile {
  height: 130px;
  width: 200px;
  border-radius: 10px;
}

h6 {
  font-size: 14px;
}

.pagination {
  width: 780px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 20px;
}

